<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#000000">
    <link rel="stylesheet" href="./assets/blog.css">
    <link rel="stylesheet" href="./assets/creative.css">
    <title>San Diego: News Now</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow">
        <a href="./" class="navbar-brand">San Diego: News Now</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a id="home-nav-link" class="nav-link" href="./">Home</a>
                </li>
                <li class="nav-item">
                    <a id="saved-nav-link" class="nav-link" href="./saved">Saved</a>
                </li>
            </ul>
        </div>
    </nav>

    {{{body}}}

</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="./assets/creative.js"></script>
<script src="./assets/webapp.js"></script>

</html>